{% extends 'main.html' %}
<!-- START BLOCK -->
{% block content %}

<style>
  .change-pass-btn {
    width: 100%;
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
</style>

<div class="flex flex-col bg-skin-sidebar w-auto m-4 rounded-3xl p-10 lg:p-32 shadow-md">
  <form action="{% url 'change_profile_picture' %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex flex-col">
      <label for="profile_picture">Profile Picture</label>
      <input
        class="w-full cursor-pointer rounded-lg border-[1.5px] border-[#E0E0E0] font-medium text-[#637381] placeholder-[#637381] transition file:mr-5 file:border-collapse file:cursor-pointer file:border-0 file:border-r file:border-solid file:border-[#E0E0E0] file:bg-[#F5F7FD] file:py-3 file:px-5 file:text-[#637381] file:hover:bg-[#3056D3] file:hover:bg-opacity-10 focus:border-[#3056D3] active:border-[#3056D3] disabled:cursor-default disabled:bg-[#F5F7FD]"
        type="file"
        name="profile_picture"
        id="profile_picture"
      />
    </div>
    <button class="change-pass-btn" type="submit">Save Changes</button>
  </form>
</div>
<!-- END BLOCK -->
{% endblock content %}
